version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "gomod"
    directory: "/apps/scheduling-service"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
